header {
    padding: 20px;
    background: linear-gradient(to right, #434343, #000000);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    padding-bottom: 10px;
    height: auto;
    display: block;

}

h1 {
    margin: 0;
    font-size: 50px;
    text-align: center;
    background: linear-gradient(to right, #434343, #000000);
    color: azure;
}

form {
     background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://cihrs.org/wp-content/uploads/2020/09/stop-killings-karapatan_2019-01-14_14-02-07.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: white;
}

#description {
    margin: 0;
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    background: linear-gradient(to right, #434343, #000000);
    color: azure;
}

#name-label {
    padding-left: 5px;
}

#email-label {
    padding-left: 5px;
}

#number-label {
    padding-left: 5px;
}