#company {
    color: #Bed24d;
}

#intro {
    padding-top: 20px;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}

#banner {
    padding: 20px;
    margin: 10px;
    background-color: rgba(22, 45, 0, 0.5) ;
    align-items: center;
    margin-left: 0px;
    border-radius: 15px;
}
#header-img {
    width: 120px;
    height: auto;
    display: block;
    background-color: transparent;
    border-width: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #162D00 ;
    width: 100%;
    padding: 0px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;

    position: sticky;
    top: 0;
    border: black;
    border-radius: 5px;
}

nav {
    flex-direction: row;
    display: flex;
    gap: 50px;
}

.nav-link {
    text-decoration: none;
    color:  #Bed24d;
    font: bold;
    transition: color 0.3s;
    font-size: 20px;
    text-decoration: underline;
    padding-right: 20px;
    padding-left: 20px;
}

.nav-link:hover {
    color:rgb(245, 248, 247);
}

body {
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #ecff83;
}

body::before {
  content: "";
  position: fixed;          
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); 
  z-index: -1;               
}

@media (max-width: 760px) {
    body {
        background-color: rgb(227, 181, 81);
    }
    nav { 
        flex-direction: row;
        gap: 10px;
    }
}

#company {
    font-size: 80px;
    font-weight: bold;
    padding-left: 10px;
    text-align: left;
}

section {
    width: 80%;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
}

.product-video {
    width: 50%;
    padding-left: 30px;
    padding-top: 30px;
    border-radius: 15px;
}

#product-img {
    width: 400px;
    height: auto;
    padding-bottom: 30px;
}
h1 {
    font-weight: bolder;
    font-size: 40px;
}

h2 {
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}

div, p {
    font-size: 18px;
}

#Premium-Basket, #Normal-Basket, #Budget-Basket, #outro {
    padding: 10px;
    padding-left: 30px;
    margin: 10px;
    border-radius: 15px;
    background-color: rgba(22, 45, 0, 0.8) ;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    align-items: center;
    margin-left: 50px;
}

input { 
    size: 20%;
}

.credit {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    padding-top: 30px;
    padding: 15px;
}