
.mother {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.name {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}

#image{
    align-content: center;
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
    border-color:#fbc2a3;
    border-radius: 5px;
}

img {
    display: block;
    border-color: black 5px;
}

#img-caption {
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 5px;
}

#tribute-info {
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.5;
    font-size: 20px;
}

h1 {
    background: linear-gradient(to right, #fbc2a3, #fcd68d);
    padding: 30px;
    max-width: 800px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    display: block;
    text-align: center;
}

main {
    background-image: url(https://media.istockphoto.com/id/538449165/photo/beautiful-cloudscape-over-the-sea-sunset-shot.jpg?s=612x612&w=0&k=20&c=XwieRIV5Df3Azuk8tH3CnAlLA-GO5GBE7R7dKtb1POw=);
    background-size: cover;
    background-position: center;
    padding: 40px;
    border-color: black;
    border: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;

}
